<%# locals: likable %>
<%= turbo_frame_tag dom_id(likable, :likes) do %>
  <% if user_signed_in? %>
    <% if likable.liked_by?(current_user) %>
      <% if likable.is_a?(Question) %>
        <%= button_to "Quitar Me gusta (#{likable.likes.size})",
              unlike_question_path(likable),
              method: :delete,
              data: { turbo: true },
              class: "btn btn-outline" %>
      <% else %>
        <%= button_to "Quitar Me gusta (#{likable.likes.size})",
              unlike_answer_path(likable),
              method: :delete,
              data: { turbo: true },
              class: "btn btn-outline text-sm" %>
      <% end %>
    <% else %>
      <% if likable.is_a?(Question) %>
        <%= button_to "Me gusta (#{likable.likes.size})",
              like_question_path(likable),
              method: :post,
              data: { turbo: true },
              class: "btn btn-like" %>
      <% else %>
        <%= button_to "Me gusta (#{likable.likes.size})",
              like_answer_path(likable),
              method: :post,
              data: { turbo: true },
              class: "btn btn-like text-sm" %>
      <% end %>
    <% end %>
  <% else %>
    <span class="badge">Inicia sesión para dar Me gusta</span>
  <% end %>
<% end %>
